<h5><b>Graph Attention Aerial Fleet Coordination</b></h5>
<p>Advanced air mobility (AAM) aims at moving cargo and passengers using autonomous eVTOLs.
    I propose a multi-agent AAM autonomy for decentralized coordination of fully-autonomous heterogeneous eVTOL fleet using a graph-attention reinforcement-learning.
    The two images corresponds to two different eVTOL fleets using a single policy operating under different conditions [<a href='https://arxiv.org/pdf/2302.07337.pdf'>Preprint</a>]. </p>
    
<div class="row justify-content-sm-center">
    <div class="col-sm-6 mt-3 mt-md-0">
        {% include figure.html path="assets/img/sim_1.webp" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm-6 mt-3 mt-md-0">
        {% include figure.html path="assets/img/sim_2.webp" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
</div>
<div class="caption">
    Two eVTOL fleets of 6 <b>(Left)</b> and 10 <b>(Right)</b> vehicles. The environment on the right has more depots and client nodes.
</div>
