<h5><b>Graph Attention Aerial Fleet Coordination</b></h5>
<p>
    This work propose a multi-step partially-observable stochastic game formulation for coordinating fully-autonomous heterogeneous eVTOL fleet with graph-attention multi-agent reinforcement-learning (MARL). 
    The paper got accepted to <i>Robotics: Science and Systems, 2023 </i>. [<a href='https://roboticsconference.org/program/papers/105/'>Paper</a>]. </p>
    
<div class="row justify-content-sm-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Uqd_C65cxk0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="caption">
    Video link to my presentation at RSS 2023.
</div>
