<h5><b>Graphical Game-Theoretic Communication-Aware Coverage</b></h5>
<p>Two heterogeneous  eVTOL fleets operating in an AAM environment with depots and clients for transporting packages. The vehicle agents are operating in a decentralized manner, using a centrally trained graph attention policy. About the simulator: This is a custom developed simulator by me on top of OpenAI Gym, PettingZoo, specifically for improving MARL training performances 
in mobility applications with hierarchical time-scale and asynchronously decision-making vehicles. </p>
<div class="row justify-content-sm-center">
    <div class="col-sm-6 mt-3 mt-md-0">
        {% include figure.html path="assets/img/coco_drones_2.webp" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm-6 mt-3 mt-md-0">
        {% include figure.html path="assets/img/coco_drones_1.webp" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
</div>
<div class="caption">
    Two eVTOL fleets of 6 <b>(Left)</b> and 10 <b>(Right)</b> vehicles.
</div>
