<h5><b>Graphical Game-Theoretic Communication-Aware Coverage</b></h5>
<p> Wireless communication plays a crucial role in distributed coordination control of robot swarms. 
    In this work we propose a robust, real-time coverage control approach for UAV swarms to provide the wireless coverage for a ground robot team
    using a UAV team operating over large geographic region with the local communication. 
    The two images show a static and mobile ground robot team, where the UAV fleet is changing their formation to maximize the coverage for the ground robots. The dynamic communication links among the UAVs are shown in grey. 
<br><b>Checkout the full demo on <a href="https://www.youtube.com/watch?v=kQJbc_s4ZLI">Youtube </a>. </b></p>

<div class="row justify-content-sm-center">
    <div class="col-sm-6 mt-3 mt-md-0">
        {% include figure.html path="assets/img/coco_drones_2.webp" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm-6 mt-3 mt-md-0">
        {% include figure.html path="assets/img/coco_drones_1.webp" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
</div>
<div class="caption">
    Two static <b>(Left)</b> and moving <b>(Right)</b> ground robot fleets.
</div>
