<h5><b>Multi-UAV Formation Control</b></h5>
<p>Drone formation control has been gaining a lot of attention lately with applications ranging from entertainment to and defense industries.
    In this work I propose a rigid-body-based formation controlling approach with drone aggressive trajectory generation. The drones showed the ability to
    move at 2.5ms<sup>-1</sup> (over 10 body-lengths a second) in a user defined formation with real-time receding horizon trajectory planning.
    <br><b>Checkout the formation control demo on <a href="https://www.youtube.com/watch?v=xlsaMiX5kJc">Youtube </a>. </b>
    <br><b>Checkout the minimum-jerk trajectory generation demo on <a href="https://www.youtube.com/watch?v=bGm2fz4_1EY">Youtube </a>. </b>

</p>
<div class="row justify-content-sm-center">
    <div class="col-sm-6 mt-3 mt-md-0">
        {% include figure.html path="assets/img/formation.webp" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm-6 mt-3 mt-md-0">
        {% include figure.html path="assets/img/aggressive.webp" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
</div>
<div class="caption">
    <b>Left:</b> Drone team of 5 moving in pentagon formation in a small indoor environment. <b>Right:</b> A <b>SloMO</b> of a Single UAV moving with precise aggressive motion through traffic cones in a minimum-jerk trajectory.
</div>

