<h5><b>Real-Time Distributed Flocking Control</b></h5>
<p><i>Murmurations </i> are one of the most beatiful natural phenomena in the world, and characterizes the <i>perfect swarm </i>. 
    In this work I tried to recreate the flocking characteristics UAVs using a variational inference approach in a distributed manner.
    The drones only uses their local observations to infer the control actions from feasible set; which makes this approach unique compared to the literature which we can guarantee the covergence and the dynamical feasibility. 
    <br><b>Checkout the full demo on <a href="https://www.youtube.com/watch?v=KVkNUKgViSg">Youtube </a>. </b></p> 
    <div class="row justify-content-sm-center">
        <div class="col-sm-6 mt-3 mt-md-0">
            {% include figure.html path="assets/img/flock_3.gif" title="example image" class="img-fluid rounded z-depth-1" %}
        </div>
        <div class="col-sm-6 mt-3 mt-md-0">
            {% include figure.html path="assets/img/flock_1.gif" title="example image" class="img-fluid rounded z-depth-1" %}
        </div>
    </div>
    <div class="caption">
     <b>Left:</b>A real robot demonstration using Crazyflie nano-drone team. <b>Right:</b> Two Carzyflie teams merging in simulation.
    </div>
    
