<h5><b>Real-Time Distributed Flocking Control</b></h5>
<p>I propose the aerial swarm flocking as a probabilistic inference and solve it in a distributed manner using mean-field variational inference.
    The inference procedure takes place in a distributed manner in each drone using its local observations to calculate the control actions. This allows achieving dynamically feasible real-time flocking control with convergence guarantees borrowed from graphical games.</p>
    <div class="row justify-content-sm-center">
        <div class="col-sm-6 mt-3 mt-md-0">
            {% include figure.html path="assets/img/flock_3.gif" title="example image" class="img-fluid rounded z-depth-1" %}
        </div>
        <div class="col-sm-6 mt-3 mt-md-0">
            {% include figure.html path="assets/img/flock_1.gif" title="example image" class="img-fluid rounded z-depth-1" %}
        </div>
    </div>
    <div class="caption">
        Two eVTOL fleets of 6 <b>(Left)</b> and 10 <b>(Right)</b> vehicles.
    </div>
    
