<h5>Real-Time Distributed Flocking Control</h5>
<p>I propose the aerial swarm flocking as a probabilistic inference and solve it in a distributed manner using mean-field variational inference.
    The inference procedure takes place in a distributed manner in each drone using its local observations to calculate the control actions. This allows achieving dynamically feasible real-time flocking control with convergence guarantees borrowed from graphical games.</p>
<div class="row justify-content-sm-center">
        <iframe width="600" height="350" src="https://www.youtube.com/embed/KVkNUKgViSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="caption">
    Supplimentary video for ICRA paper: <b> Online flocking control of UAVs with mean-field approximation.</b>
</div>
